:root {
  --primary: hsl(260, 100%, 80%);
  --page_background: #f8f9fa;
  --text_color: #212529;
}
.block_container {
  display: grid;
  height: 100dvh;
  grid-template-rows: 0.3fr 2fr 0.5fr;
  grid-template-areas: "header" "content" "footer";
  gap: 1%;
  background-color: #f8f9fa;
  width: 100vw;
}
.header_container {
  grid-area: header;
  text-align: center;
  height: 10dvh;
  line-height: 5%;
  background: linear-gradient(to left, #f8f9fa, #212529);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid #212529;
}
.header_container h1 {
  margin-top: 2%;
  margin-bottom: 1%;
  letter-spacing: 3px;
  font-size: 200%;
  line-height: 90%;
}
.header_container h2 {
  font-size: 120%;
}
.form_container h4 {
  letter-spacing: 2px;
}
.form_container {
  grid-area: content;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.8fr 0.3fr;
  grid-template-areas: "database_flags" "sheet_flags" "dummy_download" "file_upload" "upload_button";
  text-align: center;
  background: linear-gradient(to bottom, #f8f9fa, #adb5bd);
}
#database_flags {
  grid-area: database_flags;
  align-items: center;
  position: relative;
  margin-bottom: 5%;
  padding-bottom: 5%;
}

.checkbox_container {
  width: 80%;
  margin: auto;
}
#database_flags .checkbox_container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "overwrite extend";
  gap: 5%;
}
#database_flags .checkbox_container label:nth-child(1) {
  grid-area: overwrite;
}

#database_flags .checkbox_container label:nth-child(2) {
  grid-area: extend;
}
#sheet_flags {
  grid-area: sheet_flags;
  position: relative;
}
#sheet_flags .checkbox_container {
  margin-bottom: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#sheet_flags .checkbox_container label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}

#sheet_flags .checkbox_container input {
  margin-right: 10px;
}
.checkbox_container input {
  width: 15px;
  height: 15px;
  margin-right: 1%;
}
.checkbox_container label {
  text-align: center;
  font-size: 130%;
}

#dummy_download {
  grid-area: dummy_download;
  position: relative;
  margin-bottom: 5%;
  padding-bottom: 5%;
}
.dnd_file {
  grid-area: file_upload;
}

.dnd_file {
  width: 80%;
  height: 80%;
  margin: auto;
  border: 2px dashed #999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background-color: #f3f3f3;
  cursor: pointer;
}

.dnd_file:before {
  content: "Drag and drop .xlsx files here or click to upload";
  text-align: center;
}
.upload_button {
  grid-area: upload_button;
  margin: auto;
  width: 60%;
  height: 50%;
}
.upload_button input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #49a078;
  color: var(--page_background);
  font-weight: bold;
}
/*navbar css code*/
.navbar_menu {
  display: flex;
  position: fixed;
  height: 10dvh;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #f8f9fa, #212529);

  padding: 10px 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 3px solid #212529;
  width: 100vw;
}

.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000000; /* black */
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease, transform 0.3s ease;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding-left: 5%;
  padding-right: 5%;
  width: 12.5%;
  margin: auto;
}

.nav_item:last-child {
  border-right: none;
}

.nav_item:hover {
  color: #ffffff; /* white */
  transform: scale(1.1);
  background-color: #e9ecef;
}
.nav_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  width: 100%;
  font-size: max(10px, 10%);
  height: 100%;
}
#nav_home,
#nav_main,
#nav_notifications,
#nav_help {
  height: 90%;
}

/* style changes */
#database_flags::after,
#sheet_flags::after,
#dummy_download::after {
  content: "";
  position: absolute;
  left: 5%; /* to center the border */
  bottom: 0;
  height: 3px; /* adjust as needed */
  width: 90%;
  background-color: #495057;
}

#database_flags::before {
  content: "";
  position: absolute;
  left: 5%; /* to center the border */
  top: 0;
  height: 3px; /* adjust as needed */
  width: 90%;
  background-color: #495057;
}
.content_container input[type="submit"] {
  width: 60%;
  height: 30%;
  font-weight: bold;
  background-color: #49a078;
  color: var(--page_background);
}
