:root{
    --font_color: #1B2021;
    --background_color: #F6F4F3;
    --background_color_selection_board: #B4B0B0FF;
    --button_color: #AEAEB3;
    --button_border: #1B2021;
    --select_color_background: #1daf6b;
    --select_color_shadow: #1ea968;
    --shadow_color: #00000033;
    --help_button_color: #ffffff;
    --popup_text_background: #e1e1e1;
    --popup_header_font: #F6F4F3;
    --popup_header_background: #5c86d5;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--background_color);
    padding-left: 10%;
    padding-right: 10%;
}

ul.errorlist {
    display: none;
}
* h1{
    text-align: left;
    font-weight: bold;
}

* h2{
    font-weight: normal;
}

.default_heading{
    color: var(--font_color);
    font-size: 3em;
    margin-bottom: 1px;
    margin-top: 8%;

}
.default_subheading{
    color: var(--font_color);
    margin-top: 10px;
    padding-top: 0px;
}