/*general styles for all queries*/
.green_button {
  background-color: var(--select_color_background);
  color: var(--font_color);
  border-radius: 10px;
  border: none;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  cursor: pointer;
}
.controls_container a {
  color: black;
}
.login_form {
  width: 90%;
  margin: auto;
}
#user_login input {
  border-radius: 10px;
  border: none;
}
.heading_type1 {
  text-align: center;
}
#email_input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 13vh;
}
#user_login input[type="email"] {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/*Computer Screen Media Quarry*/
@media only screen and (min-width: 1200px) {
  /*erstmal die max-width überschreiben*/
  #user_login {
    max-width: 1000px;
  }

  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .header_container_type2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center; /* Add this line */
    width: 95%;
  }
  .header_container_type2 h1 {
    width: 80%;
    order: 1;
  }

  .header_container_type2 .question {
    order: 2;
    margin-left: auto;
  }

  .heading_type1 {
    font-size: 5vh;
    font-weight: 600;
    margin-bottom: 5vh;
  }
  .mid_container {
    height: 50vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #user_login input[type="text"],
  #user_login input[type="password"],
  #user_login input[type="email"],
  #user_login label {
    font-size: 3vh;
  }

  .form_fields p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header_container {
    padding-right: 0;
  }

  .controls_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    font-size: 2vh;
    gap: 1vh;
  }

  .green_button {
    font-size: 1.5rem;
    padding-top: 0px;
    height: 3em;
    width: 200px;
  }
  #email_input {
    width: 50vw;
    height: 100%;
  }
  #email_input_container {
    height: 25vh;
    width: 80%;
  }
  #user_login input[type="text"],
  #user_login input[type="password"] {
    width: 60%;
  }
  #user_login input[type="email"] {
    width: min(64vw, 900px);
    height: 7vh;
  }
}

/*Tablet Media Quarry*/
@media only screen and (min-width: 1050px) and (max-width: 1200px) {
  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .header_container_type2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center; /* Add this line */
    width: 95%;
  }
  .header_container_type2 h1 {
    width: 90%;
    order: 1;
  }

  .header_container_type2 .question {
    order: 2;
    margin-left: auto;
  }

  .heading_type1 {
    font-size: 4.7vh;
    font-weight: 600;
    margin-bottom: 5vh;
  }

  #user_login input[type="text"],
  #user_login input[type="password"],
  #user_login input[type="email"],
  #user_login label {
    font-size: 3vh;
  }
  .form_fields p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header_container {
    padding-right: 0;
  }

  .controls_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    font-size: 2vh;
    gap: 1vh;
  }

  .green_button {
    font-size: 1.5rem;
    padding-top: 0px;
    height: 3em;
    width: 200px;
  }
  .heading_type1 {
    margin-top: 20vh;
  }
  #user_login {
    margin: auto;
  }
  #user_login input[type="text"],
  #user_login input[type="password"] {
    width: 60%;
  }
  #pw_mail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .vertically_mid_container .header_container_type2 h1 {
    font-size: max(6vw, 3vh);
    margin-bottom: 0;
  }
  .heading_type1 {
    margin-top: 0;
  }
  #email_input_container {
    width: 100%;
    height: max(15vh, 200px);
  }
  #user_login input[type="email"] {
    width: 70vw;
    height: 7vh;
  }
  .vertically_mid_container {
    margin-top: 15vh;
  }
}

/*Phone Media Quarry*/
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .header_container_type2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center; /* Add this line */
    width: 95%;
    margin: auto;
    margin-bottom: 1vh;
  }
  .header_container_type2 h1 {
    width: 90%;
    order: 1;
    font-size: 5vh;
    letter-spacing: 2px;
    text-align: center;
  }

  .header_container_type2 .question {
    order: 2;
    margin-left: auto;
  }

  .heading_type1 {
    font-size: 4vh;
    font-weight: 600;
    margin-bottom: 5vh;
  }
  .header_container_type2 .heading_type2 h1 {
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 5vh;
  }

  #user_login input[type="text"],
  #user_login input[type="password"],
  #user_login input[type="email"],
  #user_login label {
    font-size: 3vh;
  }
  .form_fields p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .form_fields p label {
    margin: 10px 0 10px 0;
  }
  .form_fields input {
    width: 100%;
  }
  .header_container {
    padding-right: 0;
  }

  .controls_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    font-size: 2vh;
    gap: 1vh;
  }

  .green_button {
    font-size: 1.5rem;
    padding-top: 0px;
    height: 3em;
    width: 200px;
  }
  .login_form {
    margin-top: 10vh;
  }
  .vertically_mid_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    margin-top: 10vh;
  }
  #email_input_container {
    margin-top: 0;
  }
  .vertically_mid_container .header_container_type2 h1 {
    font-size: max(6vw, 3vh);
    margin-bottom: 0;
  }
  #email_input_container {
    width: 100%;
    height: max(15vh, 200px);
  }
  #user_login input[type="email"] {
    width: 80vw;
    height: 6vh;
  }
}
