{% extends 'base.html' %}
{% block content %}
<div id='user_login'>
    
    <form method='post' class="login_form">{% csrf_token %}
        <h1 class='page_title' id="reset_pw_mail_title">Bitte geben Sie Ihre Emailadresse ein:</h1>
        <div class="form_container">
            <span class="form_fields"><input type="email"/></span>
        </div>
        <div class="form_container">
            <input type='submit' class="btn_login" value='Bestätigen'/>
        </div>
    </form>
</div>

{% endblock %}