<!DOCTYPE html>
<html lang="de">

{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title> Email-Bestätigung </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_verification/user_verification_style.css' %}"/>
</head>
<body id="reset_pw_confirmation">
    <div class="block_container mid_container" id="user_login">
        <div class="header_container_back_help ">
            <button class="back" onclick="window.location.href = '/user_login'"> <span class = "arrow"> <i class="arrow_left"></i> </span> <span class="backtext">Zurück</span>  </button>
        </div>
        <div class="header_container_type1">
            <h1 class='heading_type2'>Zurücksetzungsemail erfolgreich versendet</h1>
        </div>
        <h2 Class="subheading_type1">Befolgen Sie die Anweisungen in der Email.</h2>
    </div>

</body>
{% endblock %}