<!DOCTYPE html>
<html lang="de">

{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title> Nutzer-Login </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_verification/user_verification_style.css' %}"/>
</head>
<body id="user_login_page">

    <div class="block_container mid_container" id="user_login">
    
        <div class="header_container_type2">
            <a class="question align_right" href="#popup1">Hilfe</a>

            <div id="popup1" class="popup">
                <div class="popup2">
                    <h3 id="popupheaderstyle">Was muss ich in diesem Anzeigefenster beachten?</h3>

                    <div class="content">
                        <p>
                            Hier können Sie sich mit Ihrem Nutzerkonto anmelden. 
                            Falls Sie noch kein Nutzerkonto besitzen, wenden Sie sich an einen Administrator.
                        </p>
                    </div>

                    <a class="close" href="#">&times;</a>

                </div>
            </div>
        <!-- TODO: Alle Bezeichnungnen auf Deutsch !!!! (z.B. Benutzername != Username ) -->
        </div>
        <h1 class='heading_type1'>Bitte melden Sie sich an:</h1>
        <form method='post' class="login_form">{% csrf_token %}
            <span class="form_fields">{{form.as_p}}</span>
            <div class="controls_container">
                <a href="/reset_pw_confirmation" class ="redirect">Passwort vergessen?</a>
                <input type='submit' class="green_button" value='Anmelden'/>
            </div>
        </form>
    </div>
</body>

{% endblock %}