<!DOCTYPE html>
<html lang="de">

{% extends 'base.html' %}
{% block content %}

<body>

<h1 class="default_heading"> Masteransicht </h1>
<h2 class="default_subheading"> Wählen Sie eine der folgenden Aktionen aus: </h2>


<div class="selection_board">
    <div class="button_container">
        <button class="button_font" onclick="window.location.href = 'http://127.0.0.1:8000/dashboard/';"> Dashboard </button>
        <button class="button_font" onclick="window.location.href = 'http://127.0.0.1:8000/ogs_group/';"> OGS-Gruppe </button>
    </div>

    <div class="button_container">
        <button class="button_font" onclick="window.location.href = 'http://127.0.0.1:8000/search_pupil/';"> Suche Kind </button>
        <button class="button_font" onclick="window.location.href = 'http://127.0.0.1:8000/choose_room/';"> Raumübersicht </button>
    </div>

    <div class="button_container">
        <button class="button_font" onclick="window.location.href = 'http://127.0.0.1:8000/csv_import/';"> CSV-Import </button>
    </div>
    <div class="box__line box__line--top"></div>
    <div class="box__line box__line--right"></div>
    <div class="box__line box__line--bottom"></div>
    <div class="box__line box__line--left"></div>
</div>

</body>
</html>
{% endblock %}