:root{
    --background_color: #F6F4F3;
    --button_color: #AEAEB3;
    --button_border: #1B2021;
}




body {
    font-family: 'Inter', sans-serif;
    background: var(--background_color);
    padding-left: 10%;
    padding-right: 10%;

}
/*
.selection_board{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
/*
.selection_row{
    background-color: #6AA73C ;
}
*/
button {
    background-color: var(--button_color);
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;

}


button:hover{
    text-decoration:  underline;
    border: var(--button_border);
}