

/* PC Ansicht */
@media only screen and (min-width: 1280px){
    /* Header Style*/
    .header_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0em 0em 2% 0em;
        padding-right: 20px;
    }
    .header_container :nth-child(1){
        order:1;
    }
    .header_container :nth-child(2){
        order:3;
    }
    .header_container :nth-child(3){
        order:2;
    }
    /* Help Button Style*/
    .header_container .question{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 140px;
        background: var(--help_button_color);
        border-style: solid;
        border-color: var(--font_color);
        color: var(--font_color);
        text-decoration: none;
        font-size: 20px;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        border-radius: 45px;
        cursor: pointer;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }
    .header_container .popup{
        width: 700px;
        height: 0px;
        text-align: left;
        overflow: hidden;
        position: relative;
        margin-left: 60px;
        margin-right: 30px;
        background: var(--popup_text_background);
        opacity: 0;
        transition: 1s;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .header_container .question:hover + .popup{
        height: 125px;
        opacity: 1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .header_container .popup h3{
        display: flex;
        justify-content: left;
        text-align: center;
        margin: 0;
        padding: 10px 0 0 10px;
        height: 30px;
        background: var(--popup_header_background);
        color: var(--popup_header_font);
        font-weight: 600;
        font-size: 18px;
    }
    .header_container .popup p{
        margin: 0;
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .header_container .popup strong{
        font-size: 16px;
    }
    /* Selection Board Ansicht */
    .button_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        margin: 0em 0em 2% 0em;
    }
    /* PopUp Klick Style*/
    .close{
        visibility: hidden;
    }
}

/* Ipad Ansicht */
@media only screen and (min-width: 768px) and (max-width: 1279px){
    /* Header Style*/
    .header_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0em 0em 2% 0em;
        padding-right: 20px;
    }
    .header_container :nth-child(1){
        order:1;
    }
    .header_container :nth-child(2){
        order:3;
    }
    .header_container :nth-child(3){
        order:2;
    }
    /* Help Button Style*/
    .header_container .question{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 120px;
        background: var(--help_button_color);
        border-style: solid;
        border-color: var(--font_color);
        font-size: 20px;
        font-weight: normal;
        color: var(--font_color);
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        border-radius: 45px;
        cursor: pointer;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }
    /*
    .header_container .popup{
        width: 720px;
        height: 0px;
        text-align: left;
        overflow: hidden;
        position: relative;
        margin-left: 60px;
        margin-right: 30px;
        background: var(--popup_text_background);
        opacity: 0;
        transition: 1s;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .header_container .question:active + .popup{
        height: 110px;
        opacity: 1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .header_container .popup h3{
        display: flex;
        text-align: center;
        justify-content: left;
        margin: 0;
        padding: 10px 0 0 10px;
        height: 20px;
        background: var(--popup_header_background);
        color: var(--popup_header_font);
        font-weight: 600;
        font-size: 15px;
    }
    .header_container .popup p{
        margin: 0;
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .header_container .popup strong{
        font-size: 16px;
    }
    */

    /* Selection Board Ansicht */
    .button_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        margin: 0em 0em 2% 0em;
    }


    /* PopUp Klick Style*/
    .popup{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }
    .popup:target{
        visibility: visible;
        opacity: 1;
    }
    .popup2{
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
    }
    .popup2 h2{
        margin-top: 0;
        margin-bottom: 1px;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }
    .popup2 .close{
        position: absolute;
        top: 10px;
        right: 15px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
    .popup2 .close:hover{
        color: #06D85F;
    }
    .popup2 .content{
        max-height: 30%;
        padding-top: 0px;
        overflow: auto;
    }
}
/*  Mobile Endgeräte Ansicht */
@media only screen and (min-width: 320px) and (max-width: 767px){
    /* Header Style*/
    .header_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0em 0em 0em 0em;
        padding-right: 20px;
    }
    .header_container :nth-child(1){
        order:1;
    }
    .header_container :nth-child(2){
        order:3;
    }
    .header_container :nth-child(3){
        order:2;
    }
    /* Help Button Style*/
    .header_container .question{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 60px;
        background: var(--help_button_color);
        border-style: solid;
        border-width: 2px;
        border-color: var(--font_color);
        font-size: 14px;
        font-weight: normal;
        color: var(--font_color);
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        border-radius: 45px;
        cursor: pointer;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        margin-top: 25px;
    }
    /*
    .header_container .popup{
        width: 720px;
        height: 0px;
        text-align: left;
        overflow: hidden;
        position: relative;
        margin-left: 60px;
        margin-right: 30px;
        background: var(--popup_text_background);
        opacity: 0;
        transition: 1s;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .header_container .question:active + .popup{
        height: 110px;
        opacity: 1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .header_container .popup h3{
        display: flex;
        text-align: center;
        justify-content: left;
        margin: 0;
        padding: 10px 0 0 10px;
        height: 20px;
        background: var(--popup_header_background);
        color: var(--popup_header_font);
        font-weight: 600;
        font-size: 15px;
    }
    .header_container .popup p{
        margin: 0;
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .header_container .popup strong{
        font-size: 16px;
    }
    */

    /* Selection Board Ansicht */
    .button_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        margin: 0em 0em 2% 0em;
    }


    /* PopUp Klick Style*/
    .popup{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }
    .popup:target{
        visibility: visible;
        opacity: 1;
    }
    .popup2{
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 65%;
        position: relative;
        transition: all 5s ease-in-out;
    }
    .popup2 h2{
        margin-top: 0;
        margin-bottom: 1px;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }
    .popup2 .close{
        position: absolute;
        top: 10px;
        right: 15px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
    .popup2 .close:hover{
        color: #06D85F;
    }
    .popup2 .content{
        max-height: 30%;
        padding-top: 0px;
        overflow: auto;
    }
}


/* Basic Selection-button Style*/
button {
    /* ALTERNATIVE
    background-color: var(--button_color);
    background-image: none;
    border: none;
    box-shadow: 0px 8px 15px var(--shadow_color);
    color: var(--button_border);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 49%;
    height: 250px;
    text-shadow: 1px 1px 1px #d0cdcd;
    border-radius: 45px 10%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-size: large;
    */
}

/* BORDER
.selection_board{
    border: #1B2021;
    background-color: var(--background_color_selection_board);
    border-style: solid;
    padding: 2em;
    box-shadow:
            inset #171616 0 0 0 5px,
            inset #282a2a 0 0 0 1px,
            inset #39383b 0 0 0 10px,
            inset #3f4242 0 0 0 11px,
            inset #5e5e60 0 0 0 16px

}
*/