.button_container_row {
  padding: 2vw 2vw 2vw 2vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.button_container_icon {
  padding: 2vw 2vw 2vw 2vw;
  height: 27vh;
  width: 20vw;
  border: 5px solid #000000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 18px;
}
#icon_button_style img {
  height: 25vh;
  width: auto;
}
#icon_button_style img,
#icon_button_style {
  display: block;
  text-align: center;
  margin: auto;
}

#icon_button_style:link,
#icon_button_style:visited,
#icon_button_style:hover,
#icon_button_style:active {
  text-decoration: none;
}

#leave_room_button {
  background-color: var(--color_icon_door);
}
#toilet_button {
  background-color: var(--color_icon_toilet);
}
#school_yard_button {
  background-color: var(--color_icon_school_yard);
}
#school_yard_button,
#toilet_button,
#leave_room_button {
  opacity: 0.8; /* or any other value between 0 and 1 */
}
#school_yard_button:hover,
#toilet_button:hover,
#leave_room_button:hover {
  opacity: 0.4; /* or any other value between 0 and 1 */
}

#help_right {
  right: 0;
  position: absolute;
  margin-right: 11vw;
}
.mid_container {
  margin-top: 15vh;
  height: 60vh;
}

.default_heading_mid {
  text-align: center;
  font: 600 max(64px, 6vw) "Inter";
  margin-bottom: min(30px, 3vw);
}
.default_subheading_mid {
  text-align: center;
  font: max(32px, 2vw) "Inter";
  margin-bottom: min(30px, 3vw);
}
.icon_description,
.icon_description a:hover {
  text-decoration: none;
  color: #000000;
  font-size: 3vh;
  margin-top: 3px;
  font-weight: 600;
  opacity: 1;
  letter-spacing: 2px;
}
